@charset "UTF-8";
ul {
	overflow:hidden; /* あふれたら非表示 */
	zoom:1;
}

.a-text-bold {
	font-weight: bold;
}
.a-item-list {
	list-style: none;
}
.a-item {
	border:1px solid;
	width: 500px;
	height: auto;
	margin-top: -1px; /* 上下罫線の重複を解消 */
}
.a-section {
	padding: 14px 18px!important;
	padding-right: 70px;
}
.a-details {
	padding-right: 5%;
	display:inline-block;
	vertical-align: middle;
	width: 85%;
}
.a-button {
	width: 15%;
	margin-right: -70px;
	display:inline-block;		/* ブロックレベル要素をインライン要素化 */
	vertical-align: middle;
} 
