<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/base-layout"
>
<head>
<meta charset="utf-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" th:href="@{/css/viewAccount.css}" ></link>
</head>
<body>
<div layout:fragment="content_div">
	<!-- Top -->
	<div id="product-top">
		<div class="shell">
			<!-- Header -->
			<div id="header">
				<h1 id="logo">
					<a href="/rosso-ec/shop/top"><img th:src="@{/css/images/logo.jpg}" style="width: 200px; height: 61px; float: left;"></a>
				</h1>
				<div id="navigation">
					<ul>
						<li><a href="/rosso-ec/shop/top">Home</a></li>
						<li><a href="/rosso-ec/account/detail">My Account</a></li>
						<li><a href="#">My Cart</a></li>
					</ul>
				</div>
			</div>
			<!-- End Header -->
		</div>
	</div>
	<!-- End Top -->
	<!-- Main -->
	<div id="main">
		<div class="shell">
			<!-- Search, etc -->
			<div class="options">
				<span class="left" ><a href="#" class="ft28">Myアカウント</a></span>
			</div>
			<!-- End Search, etc -->
			<!-- Content -->
			<div id="content">
				<!-- Container -->
				<div id="container">
					<div class="row marketing">
						<div class="col-lg-12">
							<div align="center" class="pull-right">
								<button type="button" id="bt_back" name="submit" class="btn btn-primary btn-lg">戻る</button>
							</div>
							<div class="form-area">
								<h3 style="margin-bottom: 25px;">アカウント情報</h3>
									<ul class="a-item-list">
										<li  class="a-item" style="border-top: 2px solid">
											<div class="a-section">
												<div class = "a-details">
													<div class="a-row">
														<span class="a-text-bold">ユーザID</span><br />
														<span th:text="${accountDetail.userId}"></span>
													</div>
												</div>
											</div>
										</li>
										<li  class="a-item">
											<div class="a-section">
												<div class = "a-details">
													<div class="a-row">
														<span class="a-text-bold">氏名</span><br />
														<span th:text="${accountDetail.firstName}"></span>
														<span th:text="${accountDetail.lastName}"></span>
													</div>
												</div>
												<div class="a-button">
													<button type="button" id="bt_name_edit" class="btn btn-primary btn-lg">編集</button>
												</div>
											</div>
										</li>
										<li  class="a-item">
											<div class="a-section">
												<div class = "a-details">
													<div class="a-row">
														<span class="a-text-bold">性別</span><br />
														<span th:text="${accountDetail.gender}"></span>
													</div>
													<div class="a-row">
														<span class="a-text-bold">生年月日</span><br />
														<span th:text="${accountDetail.dob}"></span>
													</div>
												</div>
											</div>
										</li>
										<li  class="a-item">
											<div class="a-section">
												<div class = "a-details">
													<div class="a-row">
														<span class="a-text-bold">郵便番号</span><br />
														<span th:text="${accountDetail.postcode}"></span><br />
													</div>
													<div class="a-row">
														<span class="a-text-bold">住所1</span><br />
														<span th:text="${accountDetail.address1}"></span><br />
													</div>
													<div class="a-row">
														<span class="a-text-bold">住所2</span><br />
														<span th:text="${accountDetail.address2}"></span><br />
													</div>
													<div class="a-row">
														<span class="a-text-bold">建物名</span><br />
														<span th:text="${accountDetail.buildingName}"></span>
													</div>
												</div>
												<div class="a-button">
													<button type="button" id="bt_address_edit" class="btn btn-primary btn-lg">編集</button>
												</div>
											</div>
										</li>
										<li  class="a-item">
											<div class="a-section">
												<div class = "a-details">
													<div class="a-row">											
														<span class="a-text-bold">電話番号</span><br />
														<span th:text="${accountDetail.telephoneNumber}"></span>
													</div>
												</div>
												<div class="a-button">
													<button type="button" id="bt_telephoneNumber_edit" class="btn btn-primary btn-lg">編集</button>
												</div>
											</div>
										</li>
									</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End Container -->
			</div>
			<!-- End Content -->
		</div>
	</div>
	<!-- End Main -->
</div>
<content layout:fragment="local_script">
<script type="text/javascript">
	$(document).ready(function(){

		var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) {
	      xhr.setRequestHeader(header, token);
	    });

		$("#bt_back").click(function(){
			window.location.href='/rosso-ec/shop/top'; 
		});
	    
		//氏名変更
		$("#bt_name_edit").click(function(){
			window.location.href='/rosso-ec/account/detail/update/name'; 
		});
		
		//住所変更
		$("#bt_address_edit").click(function(){
			window.location.href='/rosso-ec/account/detail/update/address';
		});
		
		//電話番号変更
		$("#bt_telephoneNumber_edit").click(function(){
			window.location.href='/rosso-ec/account/detail/update/telephoneNumber';
		});
	});
</script>
</content>
</body>
</html>